:root{
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.img-top{
    border-radius: 180px;
    height: 200px;
    border: 7px solid rgba(230, 227, 227, 0.3);
}
.navbar-expand {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: #2C3E50;
    color: #fff; 
    width: 300px; 
    height: 100vh; 
    position: fixed; 
}

.navbar-menu ul {
    list-style-type: none;
    padding: 0;
}

.navbar-menu li {
    padding: 10px;
}

.navbar-menu a {
    text-decoration: none;
    color: #fff;
}
.content{
    margin-left: 300px;
    padding: 30px;
}
.sup-pag{
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
}

h1, .h1 {
  font-size: calc(1.725rem + 5.7vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 6rem;
  }
}

h2, .h2 {
  font-size: calc(1.475rem + 2.7vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 3.5rem;
  }
}

h3, .h3 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 2rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .navbar-expand{
    width: 150px; 
  }
.img-top{
    height: 120px;
}
.content{
    margin-left: 150px;
}
}
@media (min-width: 768px) {
.navbar-expand{
    width: 150px; 
  }
.img-top{
    height: 100px;
}
.content{
    margin-left: 130px;
}
}
@media (min-width: 992px) {
.navbar-expand{
    width: 300px; 
  }
.img-top{
    height: 200px;
}
.content{
    margin-left: 300px;
}
}
